<!-- components/navbar.html -->
<nav>
    <!-- Logo with Image -->
    <div class="logo-container">
        <img src="images/carbon_finance.svg" alt="Logo" class="logo-img">
        <span class="logo-text">ALUMNI BLOG</span>
    </div>
    <!-- Navigation Links -->
    <ul class="nav-items">
        <li><a href="index.html" id="nav-home">Home</a></li>
        <li><a href="about.html" id="nav-about">About</a></li>
        <li><a href="blogs.html" id="nav-blog">Blog</a></li>
        <li><a href="contact.html" id="nav-contact">Contact</a></li>
    </ul>
</nav>

